<div class="container">
  <div class="jumbotron" >
    <div class="text-center">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-svg-vector.svg" style="width:100px;height:100px;" alt="Detective github">
    </div>
    <h2 class="text-center">Detective Github</h2>
    <h5 class="text-center"> Helping you find your nerd buds and their repos!</h5>
    <br>
    <!-- <app-github-form class=" col-5 text-center"></app-github-form> -->
    <!-- <div> -->
    <form class="search-form">
      <div class="form-group">
        <div>
          <label for="userName"><b>User Name:</b></label>
          <input [(ngModel)]="username" (keyup)="findProfile()" class="form-control" name="username"
            placeholder="Enter Username" rows="2" required />
          <small>Rafiki, enter a user name</small>
        </div>
      </div>
    </form>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="container"> -->
        
    <div class="row">
      <div class="col-6">
          <div *ngIf="profile">
          <h4>User Details</h4>
          <p>Name: {{profile.username}}</p>
          <a href="{{profile.html_url}}" target="_blank" class="btn btn-outline-success btn-sm">View profile on
            github</a>
          <hr>
          <img class="img-circle img-responsive" src="{{profile.avatar_url}}" width="150" height="auto" />
          <!-- <p>Username: {{profile.login}}</p> -->
          <p>Bio: {{profile.bio}}</p>
          <p>Followers: {{profile.followers}}</p>
          <p>Following: {{profile.following}}</p>

          <p>Location: {{profile.repos}}</p>
        </div>
      </div>
      <div class="col-6 ">
        <h4>Repositories</h4>
        <div *ngFor="let repo of repos">
          <p>Repo Name: {{repo.name}}</p>
          <p>Description: {{repo.description}}</p>

          <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-outline-info pull-right">View this project
            on github</a>
        </div>
      </div>
      <!-- </div> -->
    </div>
  <!-- </div> -->
</div>
<!-- </div> -->